{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>mNote - {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     	  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
      {% if user.is_authenticated %}
         Witaj {{ user.username }}
      {% else %}
         <a href="{% url 'signup' %}">Rejestracja</a> <a href="{% url 'login' %}">Logowanie</a>
      {% endif %}
      <div class="content">
         {% block content %}{% endblock %}
      </div>
   </body>

</html>
