body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
   font-size: 18px;
}

header {
	height: 40px;
	padding: 10px;
	background-color: dodgerblue;
	color: white;
	display: flex;
}

a {
	text-decoration: none;
	color: white;
}

header a {
	color: white;
}

.btn, .btn-add, input[type="submit"] {
	display: inline-block;
	border: 1px solid white;
	padding: 3px;
	border-radius: 6px;
	cursor: pointer;
}

#right {
	width: 50%;
	margin: auto;
	text-align: right;
	margin-right: 0;
}

.logoIcon {
	width: 122px;
	height: 41px;
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("icons/logo.png");
   float: left;
}

.icon {
   display: inline-block;
   width: 17px;
   height: 17px;
   background-size: 100%;
	margin-right: 5px;
}

.icon-newWhite {
   background-image: url("icons/newWhite.png");
}

.icon-new {
   background-image: url("icons/new.png");
}

.icon-groupWhite {
   background-image: url("icons/groupWhite.png");
}

.icon-delete {
   background-image: url("icons/delete.png");
}

.icon-deleteWhite {
   background-image: url("icons/deleteWhite.png");
}

.icon-editWhite {
	background-image: url("icons/editWhite.png");
}

.icon-leave {
	background-image: url("icons/leave.png");
}

.icon-leaveWhite {
	background-image: url("icons/leaveWhite.png");
}

.icon-edit {
	background-image: url("icons/edit.png");
}

.icon-deleteWhite, .icon-editWhite {
	width: 23px;
	height: 23px;
	float: right;
}

header .btn {
	margin-left: 8px;
}

.content {
	margin: 10px;
	margin-top: 0px;
}

.notesContainer {
	width: 49%;
	display: inline-block;
	float: left;
	margin-right: 0.49%;
}


.note {
	display: inline-table;
	border: 1px solid #9a9a9a;
	border-radius: 6px;
	width: 250px;
	margin-right: 15px;
	margin-bottom: 15px;
	min-height: 150px;
}

.groupName {
	font-size: 26px;
	font-weight: bold;
}

.noteTitle {
	background-color: dodgerblue;
	font-size: 23px;
	color: white;
	padding: 4px;
}

.btn-add {
	background-color: limegreen;
	border: 1px solid #9a9a9a;
}

input[type="submit"] {
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #9a9a9a;
	background-color: dodgerblue;
	color: white;
}
