body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
   font-size: 18px;
}

header {
	height: 40px;
	padding: 10px;
	background-color: dodgerblue;
	color: white;
	display: flex;
}

a {
	text-decoration: none;
	color: white;
}

header a {
	color: white;
}

.btn, .btn-add, input[type="submit"] {
	display: inline-block;
	border: 1px solid white;
	padding: 3px;
	border-radius: 6px;
	cursor: pointer;
}

#right {
	width: 50%;
	margin: auto;
	text-align: right;
	margin-right: 0;
}

.logoIcon {
	width: 122px;
	height: 41px;
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("icons/logo.png");
   float: left;
}

.icon {
   display: inline-block;
   width: 17px;
   height: 17px;
   background-size: 100%;
	margin-right: 5px;
}

.icon-newWhite {
   background-image: url("icons/newWhite.png");
}

.icon-new {
   background-image: url("icons/new.png");
}

.icon-groupWhite {
   background-image: url("icons/groupWhite.png");
}

.icon-delete {
   background-image: url("icons/delete.png");
}

.icon-deleteWhite {
   background-image: url("icons/deleteWhite.png");
}

.icon-editWhite {
	background-image: url("icons/editWhite.png");
}

.icon-leave {
	background-image: url("icons/leave.png");
}

.icon-leaveWhite {
	background-image: url("icons/leaveWhite.png");
}

.icon-edit {
	background-image: url("icons/edit.png");
}

.icon-checkWhite {
	background-image: url("icons/checkWhite.png");
}

.icon-deleteWhite, .icon-editWhite {
	width: 23px;
	height: 23px;
	float: right;
}

header .btn {
	margin-left: 8px;
}

.content {
	margin: 10px;
	margin-top: 0px;
}

.notesContainer {
	width: 49%;
	display: inline-block;
	float: left;
	margin-right: 0.49%;
}


.note {
	display: inline-table;
	border: 1px solid #9a9a9a;
	border-radius: 6px;
	width: 250px;
	margin-right: 15px;
	margin-bottom: 15px;
	min-height: 150px;
}

.groupName {
	font-size: 26px;
	font-weight: bold;
}

.noteTitle {
	background-color: dodgerblue;
	font-size: 23px;
	color: white;
	padding: 4px;
}

.btn-add {
	background-color: limegreen;
	border: 1px solid #9a9a9a;
	color: white;
}

input[type="submit"] {
	padding-left: 13px;
	padding-right: 13px;
	border: 1px solid #9a9a9a;
	background-color: dodgerblue;
	color: white;
	font-size: 19px;
}

textarea {
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	font-size: 16px;
}

input[type=text].optionIn {
	margin-right: 5px;
}

.notification {
	position: fixed;
	border-radius: 6px;
	color: white;
	padding: 4px;
	background-color: rgba(30, 144, 255, 0.75);
	border: 1px solid #9a9a9a;
	width: 260px;
	min-height: 58px;
	bottom: 10px;
	font-size: 15px;
	right: -270px;
}

.notificationTitle {
	font-size: 17px;
	font-weight: bold;
}

.notificationTitle .icon-checkWhite {
	float: right;
}
