{% extends 'base.html' %}
{% load static %}
{% block title %}
   Nowa notatka dla grupy
{% endblock %}
{% block scripts %}
   <script src="{% static 'mNoteapp/scripts/note_create_script.js' %}"></script>
{% endblock %}
{% block content %}
   <form method="post">{% csrf_token %}
      <h2>Nowa notatka dla grupy</h2>
      {{ form.as_p }}
      <p>
         Grupa: <select name="group" id="id_group">
         {% for group in user.groups.all %}
            <option value="{{ group.id }}">{{ group.name }}</option>
         {% endfor %}
         </select>
         <div id="textnote">
         Tekst: <textarea id="textnotetext" rows="8" cols="50" onkeyup="textnoteKeyup();"></textarea>
         </div>
         <div id="todonote" hidden>
            Opcje To-Do: <div class="todoOptions">
               <input type="text" id="todoOption1" onkeyup="optionKeyup('todo');">
            </div>
            <button type="button" onclick="addOption('todo');">Dodaj opcję</button>
         </div>
         <div id="listnote" hidden>
            Opcje listy: <div class="listOptions">
               <input type="text" id="listOption1" onkeyup="optionKeyup('list');">
            </div>
            <button type="button" onclick="addOption('list');">Dodaj opcję</button>
         </div>
      </p>
      <input type="submit" value="Dodaj" />
   </form>
   <script type="text/javascript">
      typeSelected();
   </script>
{% endblock %}
