{% extends 'base.html' %}
{% block title %}
   Strona główna
{% endblock %}
{% block content %}
   {% if notes %}
   {% for note in notes %}
      {{ note.id }}
      {{ note.title }}
      {{ note.text }}
   {% endfor %}
   {% else %}
      <p>Brak notatek.</p>
   {% endif %}
   {% if groups %}
   {% for group in groups %}
      <br>{{ group.id }}
      {{ group.name }}
      {{ group.owner }}
      {% for u in group.users.all %}
    {{ u }}
{% endfor %}
   {% endfor %}
   {% else %}
      <p>Brak grup.</p>
   {% endif %}
{% endblock %}
