{% extends 'base.html' %}
{% block title %}
   Strona główna
{% endblock %}
{% block content %}
<script type="text/javascript">
   function update_handler( $id, $i ) {
    return function(event) {
        location.href = "{% url 'UpdateCheckboxNote' %}?note_id=" + $id + "&index=" + $i;
    };
}
   function processNote($type, $id) {
      if ($type != "text") {
         $elId = "#note" + $id;
         $options = $($elId + "Text").text().trim().split(";");
         $($elId + "Text").text("");
         if ($type == "todo") {
            for ($i = 0; $i < $options.length-1; $i++) {
               $checked = $options[$i].indexOf('*')>=0 ? "checked" : "";
               $($elId + "Text").append("<input type='checkbox' id='" + $id + $i + "Checkbox' " + $checked + "/> " + $options[$i].replace('*', ''));
               $("#" + $id + $i + "Checkbox").click(
                  update_handler( $id, $i ));
            }
         }
         else if ($type == "list") {
            $($elId + "Text").append("<ol id='" +$id +"Ol'></ol>");
            for ($i = 0; $i < $options.length-1; $i++) {
               $("#" + $id + "Ol").append("<li>" + $options[$i] + "</li>");
            }
         }
      }
   }
</script>
<div class="notesContainer">
<h1>Prywatne notatki</h1>
   {% if notes %}
   <div class="notes">
      {% for note in notes %}
         <div class="note" id="note{{ note.id }}" style="border: 1px solid {{ note.color }}">
            <div class="noteTitle" style="background-color: {{ note.color }}">
               {{ note.title }}<a href="{% url 'NoteDelete' note.id %}"><div class="icon icon-deleteWhite"></div></a><a href="{% url 'NoteUpdate' note.id %}"><div class="icon icon-editWhite"></div></a>
            </div>
            <div class="noteText" id="note{{ note.id }}Text">
               {{ note.text }}
            </div>
         </div>
         <script type="text/javascript">
            processNote("{{ note.type }}","{{ note.id }}");
         </script>
      {% endfor %}
    </div>
   {% else %}
      <p>Brak notatek.</p>
   {% endif %}
</div>
<div class="notesContainer">
   <h1>Notatki grup</h1>
   {% if groups %}
   {% for group in groups %}
      {% if group.notes.all %}
      <span class="groupName">{{ group.name }}</span>
         <div class="notes">
            {% for note in group.notes.all %}
               <div class="note" id="note{{ note.id }}" style="border: 1px solid {{ note.color }}">
                  <div class="noteTitle" style="background-color: {{ note.color }}">
                     {{ note.title }}<a href="{% url 'NoteDelete' note.id %}"><div class="icon icon-deleteWhite"></div></a><a href="{% url 'NoteUpdate' note.id %}"><div class="icon icon-editWhite"></div></a>
                  </div>
                  <div class="noteText" id="note{{ note.id }}Text">
                     {{ note.text }}
                  </div>
               </div>
               <script type="text/javascript">
                  processNote("{{ note.type }}","{{ note.id }}");
               </script>
            {% endfor %}
         </div>
         <hr></hr>
      {% endif %}
   {% endfor %}
   {% else %}
      <p>Brak grup.</p>
   {% endif %}
</div>
{% endblock %}
