{% extends 'base.html' %}
{% block title %}
   Nowa notatka
{% endblock %}
{% block content %}
   <form method="post">{% csrf_token %}
      <h2>Nowa notatka</h2>
      {{ form.as_p }}
      <p>
         <div id="textnote">
         Tekst: <textarea id="textnotetext" rows="8" cols="50"></textarea>
         </div>
         <div id="todonote" hidden>
            Opcje To-Do: <div class="todoOptions">
               <input type="text" id="todoOption1" onkeyup="optionKeyup('todo');">
            </div>
            <button type="button" onclick="addOption('todo');">Dodaj opcję</button>
         </div>
         <div id="listnote" hidden>
            Opcje listy: <div class="listOptions">
               <input type="text" id="listOption1" onkeyup="optionKeyup('list');">
            </div>
            <button type="button" onclick="addOption('list');">Dodaj opcję</button>
         </div>
      </p>
      <input type="submit" value="Dodaj" />
   </form>
   <script type="text/javascript">
      function typeSelected() {
         $("#textnote").attr("hidden", true);
         $("#todonote").attr("hidden", true);
         $("#listnote").attr("hidden", true);
         $("#id_text").val("");
         $("#textnotetext").val("");
         $("#" + $("#id_type").val() + "note").attr("hidden", false);
      }

      $("#id_type").change(function() {
         typeSelected();
      });

      function textnoteKeyup() {
         $("#id_text").val($("#textnotetext").val());
      }

      $todoOptionsCount = 1;
      $listOptionsCount = 1;

      function addOption($type) {
         $count = $type == "todo" ? ++$todoOptionsCount : ++$listOptionsCount;
         $("<input>").attr({
            type: "text",
            id: $type + "Option" + $count
         }).appendTo("." + $type + "Options");
         $("#" + $type + "Option" + $count).keyup(function() {
            optionKeyup($type);
         });
      }

      function optionKeyup($type) {
         $("#id_text").val("");
         $count = $type == "todo" ? $todoOptionsCount : $listOptionsCount;
         for ($i = 1; $i <= $count; $i++) {
            if ($.trim($("#" + $type + "Option" + $i).val())!="")
            $("#id_text").val($("#id_text").val() + $("#" + $type + "Option" + $i).val() + ";");
         }
      }
      
      typeSelected();
   </script>
{% endblock %}
