{% extends "base.html" %}
{% load static %}
{% block title %}
   Edytuj notatkę
{% endblock title %}
{% block scripts %}
   <script src="{% static 'mNoteapp/scripts/note_create_script.js' %}"></script>
   <script src="{% static 'mNoteapp/scripts/note_update_script.js' %}"></script>
{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
   <h2>Edytuj notatkę</h2>
   {{ form.as_p }}
   <p>
      <div id="textnote">
      Tekst: <textarea id="textnotetext" rows="8" cols="50" onkeyup="textnoteKeyup();"></textarea>
      </div>
      <div id="todonote" hidden>
         Opcje To-Do: <div class="todoOptions">
            <input type="text" id="todoOption1" onkeyup="optionKeyup('todo');" class="optionIn">
         </div>
         <div class="btn-add" onclick="addOption('todo');"><div class="icon icon-newWhite"></div>Dodaj opcję</div>
      </div>
      <div id="listnote" hidden>
         Opcje listy: <div class="listOptions">
            <input type="text" id="listOption1" onkeyup="optionKeyup('list');" class="optionIn">
         </div>
         <div class="btn-add" onclick="addOption('list');"><div class="icon icon-newWhite"></div>Dodaj opcję</div>
      </div>
   </p>
   <input type="submit" value="Zapisz"/>
</form>
<script type="text/javascript">
   $("#id_type").change(function() {
      typeSelected();
   });
   initialize();
</script>
{% endblock content %}
